@inherits TriviaGameBase
@using BlazorTestProject.Components.Pages.PageBases
@using Microsoft.AspNetCore.Identity
@using BlazorTestProject.Data
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject UserManager<ApplicationUser> UserManager
<h3>TriviaGame</h3>

@code {

}
